USE [master]
GO
/****** Object:  Database [WAREHOUSE_SAMPLE]    Script Date: 3/7/2026 12:31:23 AM ******/
CREATE DATABASE [WAREHOUSE_SAMPLE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WAREHOUSE_SAMPLE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\WAREHOUSE_SAMPLE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WAREHOUSE_SAMPLE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\WAREHOUSE_SAMPLE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WAREHOUSE_SAMPLE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WAREHOUSE_SAMPLE]
GO
/****** Object:  Schema [DW]    Script Date: 3/7/2026 12:31:23 AM ******/
CREATE SCHEMA [DW]
GO
/****** Object:  Schema [ETL]    Script Date: 3/7/2026 12:31:23 AM ******/
CREATE SCHEMA [ETL]
GO
/****** Object:  Schema [STG]    Script Date: 3/7/2026 12:31:23 AM ******/
CREATE SCHEMA [STG]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](100) NULL,
	[CategoryID] [int] NULL,
	[SupplierID] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[OrderDate] [date] NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_FactSales]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_FactSales] AS
SELECT 
    o.OrderID,
    o.OrderDate,
    o.CustomerID,
    o.EmployeeID,
    od.ProductID,
    p.CategoryID,
    p.SupplierID,
    od.Quantity,
    p.Price,
    (od.Quantity * p.Price) AS SalesAmount
FROM Orders o
JOIN OrderDetails od ON o.OrderID = od.OrderID
JOIN Products p ON od.ProductID = p.ProductID;
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] NOT NULL,
	[SupplierName] [varchar](100) NOT NULL,
	[City] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[EmployeeName] [varchar](100) NOT NULL,
	[Position] [varchar](50) NULL,
	[HireDate] [date] NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SalesAnalysis]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SalesAnalysis] AS
SELECT 
    o.OrderID,
    o.OrderDate,
    c.CustomerName,
    c.City AS CustomerCity,
    c.Country AS CustomerCountry,
    e.EmployeeName,
    p.ProductName,
    cat.CategoryName,
    s.SupplierName,
    od.Quantity,
    p.Price,
    (od.Quantity * p.Price) AS SalesAmount
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
JOIN Employees e ON o.EmployeeID = e.EmployeeID
JOIN OrderDetails od ON o.OrderID = od.OrderID
JOIN Products p ON od.ProductID = p.ProductID
JOIN Categories cat ON p.CategoryID = cat.CategoryID
JOIN Suppliers s ON p.SupplierID = s.SupplierID;
GO
/****** Object:  Table [dbo].[ETL_Control]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_Control](
	[ProcessName] [varchar](100) NULL,
	[LastETLTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETL_Log]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ProcessName] [varchar](100) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[RowsProcessed] [int] NULL,
	[Status] [varchar](20) NULL,
	[ErrorMessage] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETL_Metadata]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_Metadata](
	[ProcessName] [varchar](100) NOT NULL,
	[LastETLTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcessName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[InventoryTransID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[TransactionDate] [date] NULL,
	[Quantity] [int] NULL,
	[SupplierID] [int] NULL,
	[TransactionType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryTransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodID] [int] NOT NULL,
	[MethodName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
	[PaymentDate] [date] NULL,
	[Amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ShipmentID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[ShipmentDate] [date] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Orders]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Orders](
	[OrderID] [int] NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [date] NULL,
	[EmployeeID] [int] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseID] [int] NOT NULL,
	[WarehouseName] [varchar](100) NULL,
	[City] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DW].[AggSalesMonthly]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DW].[AggSalesMonthly](
	[SalesYear] [int] NULL,
	[SalesMonth] [int] NULL,
	[TotalSales] [decimal](18, 2) NULL,
	[TotalQuantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DW].[DimCustomer]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DW].[DimCustomer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CustomerName] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DW].[DimEmployee]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DW].[DimEmployee](
	[EmployeeKey] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[EmployeeName] [varchar](100) NULL,
	[Title] [varchar](100) NULL,
	[HireDate] [date] NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DW].[DimProduct]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DW].[DimProduct](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](100) NULL,
	[CategoryID] [int] NULL,
	[SupplierID] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DW].[FactSales]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DW].[FactSales](
	[SalesKey] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[OrderDate] [date] NULL,
	[CustomerKey] [int] NULL,
	[ProductKey] [int] NULL,
	[Quantity] [int] NULL,
	[SalesAmount] [decimal](18, 2) NULL,
	[EmployeeKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[Customer_Staging]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[Customer_Staging](
	[CustomerID] [int] NULL,
	[CustomerName] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[Country] [varchar](100) NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[Employee_Staging]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[Employee_Staging](
	[EmployeeID] [int] NULL,
	[EmployeeName] [varchar](100) NULL,
	[Title] [varchar](100) NULL,
	[HireDate] [date] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[Product_Staging]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[Product_Staging](
	[ProductID] [int] NULL,
	[ProductName] [varchar](100) NULL,
	[CategoryID] [varchar](100) NULL,
	[SupplierID] [varchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[Sales_Staging]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[Sales_Staging](
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[OrderDate] [date] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (getdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [DW].[FactSales]  WITH CHECK ADD FOREIGN KEY([CustomerKey])
REFERENCES [DW].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [DW].[FactSales]  WITH CHECK ADD FOREIGN KEY([ProductKey])
REFERENCES [DW].[DimProduct] ([ProductKey])
GO
ALTER TABLE [DW].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimEmployee] FOREIGN KEY([EmployeeKey])
REFERENCES [DW].[DimEmployee] ([EmployeeKey])
GO
ALTER TABLE [DW].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimEmployee]
GO
/****** Object:  StoredProcedure [dbo].[sp_Load_DW]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* FULL HARDENED ETL PROCEDURE */
CREATE   PROCEDURE [dbo].[sp_Load_DW]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartTime DATETIME = GETDATE();
    DECLARE @LastETLTime DATETIME;
    DECLARE @Rows INT = 0;

    SELECT @LastETLTime = ISNULL(LastETLTime, '1900-01-01')
    FROM ETL_Control
    WHERE ProcessName = 'FactSalesLoad';

    BEGIN TRY

        BEGIN TRAN;

        ------------------------------------------------
        -- 1. LOAD STAGING
        ------------------------------------------------

        TRUNCATE TABLE STG.Customer_Staging;
        TRUNCATE TABLE STG.Product_Staging;
        TRUNCATE TABLE STG.Sales_Staging;

        INSERT INTO STG.Customer_Staging
        SELECT *
        FROM dbo.Customers
        WHERE LastModified > @LastETLTime;

        INSERT INTO STG.Product_Staging
        SELECT *
        FROM dbo.Products
        WHERE LastModified > @LastETLTime;

        -- LOAD SALES STAGING (FIXED)
		INSERT INTO STG.Sales_Staging
		SELECT 
			o.OrderID,
			od.ProductID,
			o.CustomerID,
			o.EmployeeID,
			o.OrderDate,
			od.Quantity,
			p.Price AS UnitPrice,
			CASE 
				WHEN o.LastModified > ISNULL(od.LastModified, o.LastModified)
					 THEN o.LastModified
				ELSE ISNULL(od.LastModified, o.LastModified)
			END AS LastModified
		FROM dbo.Orders o
		JOIN dbo.OrderDetails od ON o.OrderID = od.OrderID
		JOIN dbo.Products p ON od.ProductID = p.ProductID
		WHERE 
			o.LastModified > @LastETLTime
			OR ISNULL(od.LastModified, o.LastModified) > @LastETLTime;

        ------------------------------------------------
        -- 2. MERGE DIM CUSTOMER
        ------------------------------------------------

        MERGE DW.DimCustomer AS target
        USING STG.Customer_Staging AS source
        ON target.CustomerID = source.CustomerID

        WHEN MATCHED THEN
            UPDATE SET
                CustomerName = source.CustomerName,
                City = source.City,
                Country = source.Country,
                LastModified = source.LastModified

        WHEN NOT MATCHED THEN
            INSERT (CustomerID, CustomerName, City, Country, LastModified)
            VALUES (source.CustomerID, source.CustomerName, source.City, source.Country, source.LastModified);

        ------------------------------------------------
        -- 3. MERGE DIM PRODUCT
        ------------------------------------------------

        MERGE DW.DimProduct AS target
		USING STG.Product_Staging AS source
		ON target.ProductID = source.ProductID

		WHEN MATCHED THEN
			UPDATE SET
				ProductName = source.ProductName,
				CategoryID = source.CategoryID,
				Price = source.Price,
				LastModified = source.LastModified

		WHEN NOT MATCHED THEN
			INSERT (ProductID, ProductName, CategoryID, Price, LastModified)
			VALUES (source.ProductID, source.ProductName, source.CategoryID, source.Price, source.LastModified);

        ------------------------------------------------
        -- 4. MERGE FACT SALES
        ------------------------------------------------

        MERGE DW.FactSales AS target
        USING (
            SELECT 
                s.OrderID,
                dc.CustomerKey,
                dp.ProductKey,
                s.OrderDate,
                s.Quantity,
                s.UnitPrice,
                s.Quantity * s.UnitPrice AS SalesAmount
            FROM STG.Sales_Staging s
            JOIN DW.DimCustomer dc ON s.CustomerID = dc.CustomerID
            JOIN DW.DimProduct dp ON s.ProductID = dp.ProductID
        ) AS source

        ON target.OrderID = source.OrderID
           AND target.ProductKey = source.ProductKey

        WHEN MATCHED THEN
            UPDATE SET
                Quantity = source.Quantity,
                SalesAmount = source.SalesAmount

        WHEN NOT MATCHED THEN
            INSERT (OrderID, CustomerKey, ProductKey, OrderDate, Quantity, SalesAmount)
            VALUES (source.OrderID, source.CustomerKey, source.ProductKey, source.OrderDate, source.Quantity, source.SalesAmount);

        ------------------------------------------------
        -- 5. REFRESH AGGREGATE
        ------------------------------------------------

        TRUNCATE TABLE DW.AggSalesMonthly;

        INSERT INTO DW.AggSalesMonthly
        SELECT 
            YEAR(OrderDate),
            MONTH(OrderDate),
            SUM(SalesAmount),
            SUM(Quantity)
        FROM DW.FactSales
        GROUP BY YEAR(OrderDate), MONTH(OrderDate);

        ------------------------------------------------
        -- 6. UPDATE CONTROL TABLE
        ------------------------------------------------

        -- UPDATE CONTROL (FIXED)
		DECLARE @NewETLTime DATETIME;

		SELECT @NewETLTime = MAX(LastModified)
		FROM STG.Sales_Staging;

		UPDATE ETL_Control
		SET LastETLTime = ISNULL(@NewETLTime, @LastETLTime)
		WHERE ProcessName = 'FactSalesLoad';

        /*SET @Rows = @@ROWCOUNT;*/

		SET @Rows = 
			(SELECT COUNT(*) FROM STG.Customer_Staging)
		  + (SELECT COUNT(*) FROM STG.Product_Staging)
		  + (SELECT COUNT(*) FROM STG.Sales_Staging);

        COMMIT;

        ------------------------------------------------
        -- 7. LOG SUCCESS
        ------------------------------------------------

        INSERT INTO ETL_Log(ProcessName, StartTime, EndTime, RowsProcessed, Status)
        VALUES ('FactSalesLoad', @StartTime, GETDATE(), @Rows, 'SUCCESS');

    END TRY
    BEGIN CATCH

        ROLLBACK;

        INSERT INTO ETL_Log(ProcessName, StartTime, EndTime, RowsProcessed, Status, ErrorMessage)
        VALUES ('FactSalesLoad', @StartTime, GETDATE(), 0, 'FAILED', ERROR_MESSAGE());

    END CATCH
END;
GO
/****** Object:  StoredProcedure [DW].[sp_Load_DW]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* FULL HARDENED ETL PROCEDURE */
CREATE   PROCEDURE [DW].[sp_Load_DW]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartTime DATETIME = GETDATE();
    DECLARE @LastETLTime DATETIME;
    DECLARE @Rows INT = 0;

    SELECT @LastETLTime = ISNULL(LastETLTime, '1900-01-01')
    FROM ETL_Control
    WHERE ProcessName = 'FactSalesLoad';

    BEGIN TRY

        BEGIN TRAN;

        ------------------------------------------------
        -- 1. LOAD STAGING
        ------------------------------------------------

        TRUNCATE TABLE STG.Customer_Staging;
        TRUNCATE TABLE STG.Product_Staging;
        TRUNCATE TABLE STG.Sales_Staging;
        TRUNCATE TABLE STG.Employee_Staging;

        INSERT INTO STG.Customer_Staging
        SELECT *
        FROM dbo.Customers
        WHERE LastModified > @LastETLTime;

        INSERT INTO STG.Product_Staging
        SELECT *
        FROM dbo.Products
        WHERE LastModified > @LastETLTime;

        INSERT INTO STG.Employee_Staging
        SELECT *
        FROM dbo.Employees
        WHERE LastModified > @LastETLTime;

        -- LOAD SALES STAGING (FIXED)
		INSERT INTO STG.Sales_Staging
		SELECT 
			o.OrderID,
			od.ProductID,
			o.CustomerID,
			o.EmployeeID,
			o.OrderDate,
			od.Quantity,
			p.Price AS UnitPrice,
			CASE 
				WHEN o.LastModified > ISNULL(od.LastModified, o.LastModified)
					 THEN o.LastModified
				ELSE ISNULL(od.LastModified, o.LastModified)
			END AS LastModified
		FROM dbo.Orders o
		JOIN dbo.OrderDetails od ON o.OrderID = od.OrderID
		JOIN dbo.Products p ON od.ProductID = p.ProductID
		WHERE 
			o.LastModified > @LastETLTime
			OR ISNULL(od.LastModified, o.LastModified) > @LastETLTime;

        ------------------------------------------------
        -- 2. MERGE DIM CUSTOMER
        ------------------------------------------------

        MERGE DW.DimCustomer AS target
        USING STG.Customer_Staging AS source
        ON target.CustomerID = source.CustomerID

        WHEN MATCHED THEN
            UPDATE SET
                CustomerName = source.CustomerName,
                City = source.City,
                Country = source.Country,
                LastModified = source.LastModified

        WHEN NOT MATCHED THEN
            INSERT (CustomerID, CustomerName, City, Country, LastModified)
            VALUES (source.CustomerID, source.CustomerName, source.City, source.Country, source.LastModified);

        ------------------------------------------------
        -- 3. MERGE DIM PRODUCT
        ------------------------------------------------

        MERGE DW.DimProduct AS target
		USING STG.Product_Staging AS source
		ON target.ProductID = source.ProductID

		WHEN MATCHED THEN
			UPDATE SET
				ProductName = source.ProductName,
				CategoryID = source.CategoryID,
				Price = source.Price,
				LastModified = source.LastModified

		WHEN NOT MATCHED THEN
			INSERT (ProductID, ProductName, CategoryID, Price, LastModified)
			VALUES (source.ProductID, source.ProductName, source.CategoryID, source.Price, source.LastModified);

            


        ------------------------------------------------
        -- 3. MERGE DIM EMPLOYEE
        ------------------------------------------------
        MERGE DW.DimEmployee AS target
        USING STG.Employee_Staging AS source
        ON target.EmployeeID = source.EmployeeID

        WHEN MATCHED THEN
            UPDATE SET
                EmployeeName = source.EmployeeName,
                Title = source.Title,
                HireDate = source.HireDate,
                LastModified = source.LastModified

        WHEN NOT MATCHED THEN
            INSERT
            (
                EmployeeID,
                EmployeeName,
                Title,
                HireDate,
                LastModified
            )
            VALUES
            (
                source.EmployeeID,
                source.EmployeeName,
                source.Title,
                source.HireDate,
                source.LastModified
            );


        ------------------------------------------------
        -- 4. MERGE FACT SALES
        ------------------------------------------------

        MERGE DW.FactSales AS target
        USING (
            SELECT 
                s.OrderID,
                dc.CustomerKey,
                dp.ProductKey,
                s.OrderDate,
                s.Quantity,
                s.UnitPrice,
                s.Quantity * s.UnitPrice AS SalesAmount
            FROM STG.Sales_Staging s
            JOIN DW.DimCustomer dc ON s.CustomerID = dc.CustomerID
            JOIN DW.DimProduct dp ON s.ProductID = dp.ProductID
        ) AS source

        ON target.OrderID = source.OrderID
           AND target.ProductKey = source.ProductKey

        WHEN MATCHED THEN
            UPDATE SET
                Quantity = source.Quantity,
                SalesAmount = source.SalesAmount

        WHEN NOT MATCHED THEN
            INSERT (OrderID, CustomerKey, ProductKey, OrderDate, Quantity, SalesAmount)
            VALUES (source.OrderID, source.CustomerKey, source.ProductKey, source.OrderDate, source.Quantity, source.SalesAmount);

        ------------------------------------------------
        -- 5. REFRESH AGGREGATE
        ------------------------------------------------

        TRUNCATE TABLE DW.AggSalesMonthly;

        INSERT INTO DW.AggSalesMonthly
        SELECT 
            YEAR(OrderDate),
            MONTH(OrderDate),
            SUM(SalesAmount),
            SUM(Quantity)
        FROM DW.FactSales
        GROUP BY YEAR(OrderDate), MONTH(OrderDate);

        ------------------------------------------------
        -- 6. UPDATE CONTROL TABLE
        ------------------------------------------------

        -- UPDATE CONTROL (FIXED)
		DECLARE @NewETLTime DATETIME;

		SELECT @NewETLTime = MAX(LastModified)
		FROM STG.Sales_Staging;

		UPDATE ETL_Control
		SET LastETLTime = ISNULL(@NewETLTime, @LastETLTime)
		WHERE ProcessName = 'FactSalesLoad';

        /*SET @Rows = @@ROWCOUNT;*/

		SET @Rows = 
			(SELECT COUNT(*) FROM STG.Customer_Staging)
		  + (SELECT COUNT(*) FROM STG.Product_Staging)
		  + (SELECT COUNT(*) FROM STG.Sales_Staging);

        COMMIT;

        ------------------------------------------------
        -- 7. LOG SUCCESS
        ------------------------------------------------

        INSERT INTO ETL_Log(ProcessName, StartTime, EndTime, RowsProcessed, Status)
        VALUES ('FactSalesLoad', @StartTime, GETDATE(), @Rows, 'SUCCESS');

    END TRY
    BEGIN CATCH

        ROLLBACK;

        INSERT INTO ETL_Log(ProcessName, StartTime, EndTime, RowsProcessed, Status, ErrorMessage)
        VALUES ('FactSalesLoad', @StartTime, GETDATE(), 0, 'FAILED', ERROR_MESSAGE());

    END CATCH
END;
GO
/****** Object:  StoredProcedure [DW].[sp_LoadFactSales]    Script Date: 3/7/2026 12:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [DW].[sp_LoadFactSales]
AS
BEGIN
    DECLARE @LastETLTime DATETIME;

    SELECT @LastETLTime = LastETLTime
    FROM ETL_Control
    WHERE ProcessName = 'FactSalesLoad';

    -- Load new customers
    INSERT INTO DW.DimCustomer (CustomerID, CustomerName, City, Country, LastModified)
    SELECT CustomerID, CustomerName, City, Country, LastModified
    FROM Customers
    WHERE LastModified > @LastETLTime;

    -- Load new products
    INSERT INTO DW.DimProduct (ProductID, ProductName, CategoryID, SupplierID, Price, LastModified)
    SELECT ProductID, ProductName, CategoryID, SupplierID, Price, LastModified
    FROM Products
    WHERE LastModified > @LastETLTime;

    -- Load fact
    INSERT INTO DW.FactSales (OrderID, OrderDate, CustomerKey, ProductKey, Quantity, SalesAmount)
    SELECT 
        o.OrderID,
        o.OrderDate,
        dc.CustomerKey,
        dp.ProductKey,
        od.Quantity,
        (od.Quantity * p.Price)
    FROM Orders o
    JOIN OrderDetails od ON o.OrderID = od.OrderID
    JOIN Products p ON od.ProductID = p.ProductID
    JOIN DW.DimCustomer dc ON o.CustomerID = dc.CustomerID
    JOIN DW.DimProduct dp ON p.ProductID = dp.ProductID
    WHERE o.LastModified > @LastETLTime;

    UPDATE ETL_Control
    SET LastETLTime = GETDATE()
    WHERE ProcessName = 'FactSalesLoad';
END;
GO
USE [master]
GO
